# MONGO_URI = mongodb+srv://davim:Erer00123@divine.rswlfcc.mongodb.net/
MONGO_URI =mongodb+srv://davim:Erer00123@davim.7juca.mongodb.net/?retryWrites=true&w=majority&appName=Davim


TOKEN_SECRET=1DvTn4xKSm6sFOxNoxRuU9Zu5

DOMAIN = http://localhost:3000
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASSWORD